{% extends 'base.html.twig' %}
{% block body %}
    <h1>Home Page !!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio veniam eligendi quae consectetur necessitatibus iste neque quasi. Reprehenderit maiores expedita pariatur suscipit facere dolores rerum esse illo molestiae deleniti ullam nemo beatae, eum accusantium doloribus incidunt eligendi. Minima, recusandae a!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi aperiam sunt maiores aliquid dolore earum, sequi molestiae deleniti inventore explicabo aspernatur voluptate possimus laboriosam nam tenetur temporibus magni. Incidunt sit accusamus deleniti amet culpa cum exercitationem qui atque, libero commodi.</p>    
{% endblock %}
